In [5]:
from google_play_scraper import app

import pandas as pd

import numpy as np

In [ ]:
# Scrape All available reviews 
#(DONT RUN THIS CELL!!! RUN ONLY IF YOU WANT TO SCRAPE ALL AVAILABLE REVIEWS)
#JANGAN DI RUN KODE INI, KECUALI ANDA INGIN SCRAPE SEMUA REVIEWS SEKALIGUS

from google_play_scraper import Sort, reviews_all

result = reviews_all(
    'com.shopee.id',
    sleep_milliseconds=0, # defaults to 0
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT , you can use Sort.NEWEST to get newst reviews
)

In [6]:
#Scrape desired number of reviews
#Run kode ini jika ingin scrape data dengan jumlah tertentu. Ganti (misal, ingin scrape sejumlah 1000, maka ganti kode , count = 1000 )

from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'com.shopee.id',
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT you can use Sort.NEWEST to get newst reviews
    count=50000, # defaults to 100
    filter_score_with=None # defaults to None(means all score) Use 1 or 2 or 3 or 4 or 5 to select certain score
)

In [8]:
df_busu = pd.DataFrame(np.array(result),columns=['review'])

df_busu = df_busu.join(pd.DataFrame(df_busu.pop('review').tolist()))

df_busu.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,7db5ca02-2043-4377-9b97-fbc8c8b44e94,Intan Devi Novita Sari,https://play-lh.googleusercontent.com/a-/ALV-U...,Sbnernya sangat membantu sih beli barang² dgn ...,3,118,3.16.20,2024-01-02 00:08:41,"Hi Kak, maaf buat kendala applikasi yang lamba...",2024-01-02 01:28:53,3.16.20
1,425b19c7-1224-4e1d-8d9a-7e7cc46611b9,Windy Chen,https://play-lh.googleusercontent.com/a-/ALV-U...,"Makin banyak biaya layanan, biaya penanganan, ...",1,610,3.16.20,2024-01-01 18:07:10,"Hai kak, maaf ya mengenai biaya layanan itu sa...",2024-01-01 20:00:24,3.16.20
2,e5ca7d72-6e8c-46d8-86b1-b106d8d81532,Leo Agus Hartono,https://play-lh.googleusercontent.com/a-/ALV-U...,"Shopee pay saya tidak bisa ditarik, mengendap ...",1,606,3.16.20,2024-01-01 01:35:36,None,NaT,3.16.20
3,c4c5e47b-8212-4d14-aa05-24787da05ebd,Muhammad Rizal Ardiansyah,https://play-lh.googleusercontent.com/a-/ALV-U...,1. Kecewa sama pelayanan SPX barang sudah digu...,1,50,3.14.16,2024-01-01 08:14:20,Hai kak mohon maaf buat resah dan terimakasih ...,2024-01-01 09:29:37,3.14.16
4,8f21795a-c2df-4620-a2eb-24abe0ff3a5c,Iqbal Pelangi,https://play-lh.googleusercontent.com/a-/ALV-U...,"Aplikasi belanja yg sangat baik, tapi sayang s...",5,22,3.16.20,2024-01-01 11:37:41,"Hi kak, makasih ya buat masukannya. Saran dari...",2022-03-02 08:56:38,3.16.20

In [9]:
len(df_busu.index) #count the number of data we got

22288

In [10]:
df_busu[['userName', 'score','at', 'content']].head()  #preview userName, rating, date-time, and reviews only

,userName,score,at,content
0,Intan Devi Novita Sari,3,2024-01-02 00:08:41,Sbnernya sangat membantu sih beli barang² dgn ...
1,Windy Chen,1,2024-01-01 18:07:10,"Makin banyak biaya layanan, biaya penanganan, ..."
2,Leo Agus Hartono,1,2024-01-01 01:35:36,"Shopee pay saya tidak bisa ditarik, mengendap ..."
3,Muhammad Rizal Ardiansyah,1,2024-01-01 08:14:20,1. Kecewa sama pelayanan SPX barang sudah digu...
4,Iqbal Pelangi,5,2024-01-01 11:37:41,"Aplikasi belanja yg sangat baik, tapi sayang s..."

In [11]:
#Run This Code to Sort the Data By Date 

new_df = df_busu[['userName', 'score','at', 'content']]
sorted_df = new_df.sort_values(by='at', ascending=False) #Sort by Newst, change to True if you want to sort by Oldest.
sorted_df.head()

,userName,score,at,content
16602,Yonisa Aisyah,5,2024-01-03 09:30:41,Alhamdulillah shoope ada peningkatan gk kyk du...
1067,Bungsu Bungsu,3,2024-01-03 09:11:09,Tolong perhatikan untuk para pembeli yang meng...
20561,fahroe rachman,5,2024-01-03 06:08:48,Pengiriman lambat terooss.. Tolong benahi nih ...
20592,Argha Putra,2,2024-01-03 04:57:58,Masih tetap sama dan sama.... layanan spinjam ...
86,Ari Putra Mulya,5,2024-01-03 03:00:18,Beli paket data udah dibayar tapi ga masuk pak...

In [12]:
my_df = sorted_df[['userName', 'score','at', 'content']] #get userName, rating, date-time, and reviews only

In [13]:
my_df.head()

,userName,score,at,content
16602,Yonisa Aisyah,5,2024-01-03 09:30:41,Alhamdulillah shoope ada peningkatan gk kyk du...
1067,Bungsu Bungsu,3,2024-01-03 09:11:09,Tolong perhatikan untuk para pembeli yang meng...
20561,fahroe rachman,5,2024-01-03 06:08:48,Pengiriman lambat terooss.. Tolong benahi nih ...
20592,Argha Putra,2,2024-01-03 04:57:58,Masih tetap sama dan sama.... layanan spinjam ...
86,Ari Putra Mulya,5,2024-01-03 03:00:18,Beli paket data udah dibayar tapi ga masuk pak...

In [14]:
my_df.to_csv("scrapped_data_shopee.csv", index = False)  #Save the file as CSV , to download: click the folder icon on the left. the csv file should be there.